#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card.card1 {
  background-color: lightblue;
}

.card.card2 {
  background-color: white;
}

.card.card3 {
  background-color: gray;
}

.card.champion-card {
  background-color: white;
}
